{% extends "base.html" %}
{% block content %}
<main class="form-signin">
<form action="" method="post" name="crate_task">
    <h1 class="h3 mb-3 fw-normal">Choose task by it's creation time</h1>
    <select id="created2" onchange="func()">
        <option style="display:none"></option>
    {% for o in form.created.choices %}
     <option value="{{ o[0] }}">{{ o[1] }}</option>
    {% endfor %}
    </select>
    <h1 class="h3 mb-3 fw-normal">Change your task here</h1>
    <div class="t">
         {{form.text}}
    </div>
    <div style="display:none">
        {{form.created}}
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>


    <script>
        function func()
        {
        document.getElementById('text').value = document.getElementById('created2').value.split('~~')[1].toString()
        document.getElementById('created').value = document.getElementById('created2').value
        console.log("dsfg")
        console.log(document.getElementById('created').value)
        }
</script>
{%endblock%}


